. filter=lfs diff=lfs merge=lfs -text
C:/Users/mario/OneDrive/Desktop/Fall[[:space:]]2022[[:space:]]UCF/DIG-3480[[:space:]]Computer[[:space:]]as[[:space:]]a[[:space:]]Medium[/Tutorial2_MGalan/Tutorial2.0_MGalan filter=lfs diff=lfs merge=lfs -text
